.sidenav {
    height: 100%;
    width: 255px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
    color: #fff;
}

.sidenav a {
    padding: 6px 6px 6px 32px;
    text-decoration: none;

    color: #818181;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.main {
    margin-left: 255px; /* Same as the width of the sidenav */
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

.sidebar-submenu {
    font-size: 0.9rem;
}

/* Closed submenu icon */
.submenu-icon::after {
    content: " \f0d7";
    font-family: FontAwesome;
    display: inline;
    text-align: right;
    padding-left: 10px;
}
/* Opened submenu icon */
.submenu-icon::after {
    content: " \f0da";
    font-family: FontAwesome;
    display: inline;
    text-align: right;
    padding-left: 10px;
}

.main-panel {
    margin-left: 200px;
    transition: width 0.25s ease, margin 0.25s ease;
    width: calc(100% - 255px);
    min-height: calc(100vh - 70px);
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
}
.btn-mb{
    background-color: #DB6915;
    color: #fff;
}
label{
    margin-top: 20px;
    margin-bottom: 5px;
}
a{
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
}
